header {
    background-color: #EB6440;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style-type: none;
    font-weight: 800;
}